.dropdown-icon {
    position: relative;
}

.dropdown-icon > span.open-close-icon {
    display: none;
}

.dropdown-icon > span.open-close-icon {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg stroke='white' fill='white' stroke-width='0' viewBox='0 0 1024 1024' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M696 480H544V328c0-4.4-3.6-8-8-8h-48c-4.4 0-8 3.6-8 8v152H328c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h152v152c0 4.4 3.6 8 8 8h48c4.4 0 8-3.6 8-8V544h152c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8z'%3E%3C/path%3E%3Cpath d='M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z'%3E%3C/path%3E%3C/svg%3E");
    top: 7px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
}

.dropdown-icon span.open-close-icon.minus-icon {
	background-image: url("data:image/svg+xml,%3Csvg stroke='white' fill='white' stroke-width='0' viewBox='0 0 1024 1024' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M696 480H328c-4.4 0-8 3.6-8 8v48c0 4.4 3.6 8 8 8h368c4.4 0 8-3.6 8-8v-48c0-4.4-3.6-8-8-8z'%3E%3C/path%3E%3Cpath d='M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z'%3E%3C/path%3E%3C/svg%3E");
}

.dropdown-menu.mobile_menu .topnav.with-actions {
    height: auto !important;
}

.dropdown-menu.mobile_menu .nested-dropdown-menu {
    display: none;
}

.dropdown-menu.mobile_menu  {
    left: 0;
    width: 235px;
}

body .dropdown-menu.mobile_menu .topnav.with-actions:hover > .dropdown-toggle a {
    color: white;
}

.dropdown-menu.mobile_menu .nested-dropdown-menu li:hover > a {
    color: white;
}

.dropdown-menu.mobile_menu {
    height: 100vh !important;
    max-height: 100vh !important;
}

#groupTabs li {
    margin: 0;
}

#groupTabs li a {
    background-color: transparent;
    color: #000;
    border-bottom: 1px solid #a0a0a0;
    border-left: none;
    border-right: none;
    margin: 0;
}

#groupTabs li.active a {
    border: 1px solid #a0a0a0;
    border-bottom-color: transparent;
}

#groupTabs li:hover a {
    box-shadow: inset 0px 0px 0px 1px #a0a0a0;
    border-bottom: none;
    color: #7E66A9;
}

#content .detail-view .nav-tabs li {
    margin: 0;
}

#content .detail-view .nav-tabs li a{
    background-color: transparent;
    color: #000;
    border-bottom: 1px solid #a0a0a0;
    border-left: none;
    border-right: none;
    margin: 0;
}

#content .detail-view .nav-tabs li.active a{
    border: 1px solid #a0a0a0;
    border-bottom-color: transparent;
}

#content .detail-view .nav-tabs  li:hover a  {
    box-shadow: inset 0px 0px 0px 1px #a0a0a0;
    border-bottom: none;
    color: #7E66A9;
}

#content .detail-view .nav-tabs #tab-actions {
    background: #378cbe;;
    border-radius: 5px;
    border-bottom: none;
}

#content .detail-view .nav-tabs #tab-actions:hover a{
    color:white;
    box-shadow: inset 0px 0px 0px 1px #378cbe;
    border-radius: 4px;
}

.paginationActionButtons #select_actions_disabled_bottom .parent-dropdown-handler label{
    color:white;
}

.paginationActionButtons #select_actions_disabled_top .parent-dropdown-handler label{
    color:white;
}
